@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

body {
    /* Need this animation for initial startup */
    animation: fadeInAnimation ease 500ms;
    animation-iteration-count: 1;

    width: 100%;
    height: 100%;
    background-image: url(../assets/PixelSolarSystem.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#loginContainer {
    /* Need same animation from body selector, in case user
       comes back from signup page */
    animation: fadeInAnimation ease 1000ms;
    animation-iteration-count: 1;
}