@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

body {
    /* Need this animation for initial startup */
    animation: fadeInAnimation ease 500ms;
    animation-iteration-count: 1;
    width: 100%;
    height: 100%;

    /* Load STATIC background first to fix slow gif loading on slow internet speeds */
    background-image: url(../assets/MainBackgroundStatic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#root {
    /* Force root to spread across whole screen */
    width: 100%;
    height: 100%;
    position: fixed;

    /* Load main background image */
    background-image: url(../assets/MainBackground.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#loginContainer {
    /* Need same animation from body selector, in case user
       comes back from signup page */
    animation: fadeInAnimation ease 1000ms;
    animation-iteration-count: 1;
}