@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#signupContainer {
    animation: fadeInAnimation ease 500ms;
    animation-iteration-count: 1;
}