#masterContainer
{
    /* Structure to make sure header and actual canvas don't collide */
    display: flex;
    flex-direction: column;
}

#canvaswrapper
{   
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -2;
}

#sidepanel
{
    z-index: -1;
}
